<div class="container">
  <div class="big-card__image">
    <a href="#"
      ><img src="https://picsum.photos/id/182/500/400" alt="photo"
    /></a>
  </div>
  <div class="big__card__title">
    <h2>
      The classic latin passage that just never gets old, enjoy as much (or as
      little) lorem ipsum as you can handle with our easy to use filler text
      generator.
    </h2>
    <div class="big__card__description">
      <p>
        Lorem ipsum dolor amet mustache knausgaard +1, blue bottle waistcoat tbh
        semiotics artisan synth stumptown gastropub cornhole celiac swag. Brunch
        raclette vexillologist post-ironic glossier ennui XOXO mlkshk godard
        pour-over blog tumblr humblebrag. Blue bottle put a bird on it twee
        prism biodiesel brooklyn. Blue bottle ennui tbh succulents. ZOMBIE IPSUM
      </p>
    </div>
  </div>
</div>
